<!-- :::::Pie de página::::: -->
<section>
  <footer class="foot">
    <div class="group-1">
      <div class="box">
        <figure>
          <a href="/">
          <img
            src="/assets/logos/cym_horiz.png"
            alt="Logo de control y medición"
            />
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Sobre Nosotros</h2>
        <p class="justify-text">
          Desde ese punto de vista para GRUPO CONTROL Y MEDICIÓN significa
          aportar valor al cliente, esto es, ofrecer unas condiciones de uso
          del producto o servicio superiores a las que el cliente espera
          recibir a un precio accesible.
        </p>
        <p class="justify-text">
          También la calidad se refiere a minimizar las pérdidas que un
          producto pueda causar a la sociedad humana mostrando cierto
          interés por parte de la empresa a mantener la satisfacción del
          cliente.
        </p>
        <p class="justify-text">
          Una visión actual del concepto de calidad indica que calidad es
          entregar al cliente no lo que quiere, sino lo que nunca había
          imaginado que quería y que una vez que lo obtenga, se dé cuenta de
          que era lo que siempre había querido.
        </p>
      </div>
      <div class="box">
        <h2>Síguenos</h2>
        <div class="social-media">
          <a
            href="https://www.facebook.com/controlymedicion/"
            class="fa fa-facebook"
            target="_blank"
            rel="noopener noreferrer"
            ></a>
          <a
            href="https://www.instagram.com/controlymedicion/"
            class="fa fa-instagram"
            target="_blank"
            rel="noopener noreferrer"
            ></a>
          <a
            href="https://www.youtube.com/channel/UCEkwrnRur8nrffahkA0Kn1Q"
            class="fa fa-youtube"
            target="_blank"
            rel="noopener noreferrer"
            ></a>
          <a
            href="https://twitter.com/CYM_Mexico?prefetchTimestamp=1572883916527"
            class="fa fa-twitter"
            target="_blank"
            rel="noopener noreferrer"
            ></a>
          <a
            href="https://es.linkedin.com/company/controlymedición"
            class="fa fa-linkedin"
            target="_blank"
            rel="noopener noreferrer"
            ></a>
          <a
            href="https://www.youtube.com/channel/UCE14rKML4jf-Si8ts1KqgFw"
            class="fa fa-youtube"
            target="_blank"
            rel="noopener noreferrer"
            ></a>
        </div>
      </div>
    </div>
    <div class="group-2">
      <small
        >&copy; 2022 <b>CONTROL Y MEDICIÓN</b> - Todos los Derechos
      Reservados.</small
        >
    </div>
  </footer>
</section>
</body>
</html>