<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Control y Medición</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/eb496ab1a0.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./style.css" />

    <!--script src="//code.tidio.co/v3jcvvfman8clmvsk7mds57hidqdnino.js" async></script-->
  </head>

  <!-- :::::Todo lo que si se ve en mi página web::::: -->
  <body>
    <!-- :::::El encabezado::::: -->
    <header>
      <!-- :::::La línea de búsqueda::::: -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="images/Logos/cym_horiz.png"
              alt=""
              width=""
              height="70"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="historia.html">Historia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="laboratorio.html"
                  >Laboratorio de Calibración</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="servicios.html"
                  >Nuestros Servicios</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown link
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- :::::El texto en la imagen::::: -->
      <div
        class="cover d-flex justify-content-end align-items-start flex-column p-5"
      >
        <h1>Control y Medición</h1>

        <p>El mejor laboratorio de calibración de la ciudad</p>
      </div>
    </header>

    <!-- :::::Primer párrafo::::: -->
    <section>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
          <h3>Laboratorio de calibración</h3>
          <img
            src="images/Fotos/lab.jpeg"
            class="img-fluid"
            alt="..."
          />
          <h4 class="mt-4">Nuestro compromiso</h4>
          <p class="justify-text">
            Hemos estado trabajando con usted a lo largo de 50 años para
            ofrecerle el mejor y más confiable servicio de reparación,
            mantenimiento y calibración a sus equipos en las siguientes áreas
            con acreditación ante la Entidad Mexicana de Acreditación, A.C.
            "EMA"
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">DUREZA</li>
            <li class="list-group-item">DIMENSIONAL</li>
            <li class="list-group-item">MASA</li>
            <li class="list-group-item">FUERZA</li>
            <li class="list-group-item">TEMPERATURA</li>
            <li class="list-group-item">HÚMEDAD</li>
          </ul>
          <br class="d-flex justify-content-center">
            LABORATORIO PUEBLA DZA-06; DIM-76;   
            LABORATORIO QUERÉTARO DZA-06-S1; M-229; F-85; T-185; H-77; DIM-76-S1
        </br>
          <h5 class="mt-4">Proximamente</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">TORQUE</li>
            <li class="list-group-item">PRESIÓN</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- :::::Segundo párrafo::::: -->
    <section>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
          <h3>Estás en las mejores manos</h3>
          <p class="justify-text">
            Ponemos a su disposición nuestro laboratorio de calibración ubicado
            en la ciudad de <u>Puebla</u> y nuestra oficina comercial ubicada en
            <u>Ciudad de México</u>. Además de nuestro showroom, laboratorio de
            calibración y pruebas ubicado en la ciudad de <u>Querétaro</u>;
            todos destinados a darle una respuesta inmediata y eficaz a sus
            requerimientos.
          </p>
          <p class="justify-text">
            Con todo esto nos enfocamos para apoyarlo en lograr la calidad que
            requiera su empresa, así como lo demanda México para competir en los
            mercados internacionales. Preséntenos cualquier reto en las áreas de
            metrología y aseguramiento de la calidad y recibirá una respuesta
            concreta a sus necesidades, con equipos nuevos y específicamente
            seleccionados, con el fin de alcanzar beneficios de manera rápida y
            solucionar sus requerimientos. Cualquier duda o solicitud que tenga
            ¡NO LO DUDE!
            <a href="contacto.html">
            PÓNGASE EN CONTACTO CON NOSOTROS
            </a>y compruebe nuestros servicios.
          </p>
        </div>
      </div>
    </section>
    
    <!-- :::::Imagen Final::::: -->
    <section>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
          <img
            src="images/Fotos/showroom.jpeg"
            class="img-fluid"
            alt="..."
          />
        </div>
      </div>
    </section>

    <!-- :::::Equipo::::: -->
    <section>
      <div class="container mt-5 mb-5">
        <h2>Conoce al equipo</h2>
        <p>¡Juntos hacemos que la metrología sea divertida!</p>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 mt-2">
            <div class="card p-4 text-center">
              <div
                class="avatar rounded-circle inline-block"
                style="
                  background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/ACM%20NAVIDAD.png?v=1652120167667);
                "
              ></div>
              <h4 class="mt-2">ACM</h4>
              <span class="badge bg-primary">CEO</span>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mt-2">
            <div class="card p-4 text-center">
              <div
                class="avatar rounded-circle inline-block"
                style="
                  background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/ACM%20NAVIDAD.png?v=1652120167667);
                "
              ></div>
              <h4 class="mt-2">ACM</h4>
              <span class="badge bg-primary">CEO</span>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mt-2">
            <div class="card p-4 text-center">
              <div
                class="avatar rounded-circle inline-block"
                style="
                  background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/ACM%20NAVIDAD.png?v=1652120167667);
                "
              ></div>
              <h4 class="mt-2">ACM</h4>
              <span class="badge bg-primary">CEO</span>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mt-2">
            <div class="card p-4 text-center">
              <div
                class="avatar rounded-circle inline-block"
                style="
                  background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/ACM%20NAVIDAD.png?v=1652120167667);
                "
              ></div>
              <h4 class="mt-2">ACM</h4>
              <span class="badge bg-primary">CEO</span>
            </div>
          </div>
        </div>
      </div>

      <!-- :::::Botón subir::::: -->
      <button class="btn-scrolltop" id="btn_scrolltop">
        <i class="fas fa-chevron-up"></i>
      </button>
      <script>
        const btn_scrolltop = document.getElementById("btn_scrolltop");
        btn_scrolltop.addEventListener("click", () => {
          window.scrollTo(0, 0);
        });

        window.onscroll = () => {
          if (window.scrollY < 300) {
            btn_scrolltop.classList.remove("btn-scrolltop-on");
          } else {
            btn_scrolltop.classList.add("btn-scrolltop-on");
          }
        };
      </script>
    </section>

    <!-- :::::Pie de página::::: -->
    <section>
      <footer class="foot">
        <div class="group-1">
          <div class="box">
            <figure>
              <a href="/">
                <img
                  src="images/Logos/cym_horiz.png"
                  alt="Logo de control y medición"
                />
              </a>
            </figure>
          </div>
          <div class="box">
            <h2>Sobre Nosotros</h2>
            <p class="justify-text">
              Desde ese punto de vista para GRUPO CONTROL Y MEDICIÓN significa
              aportar valor al cliente, esto es, ofrecer unas condiciones de uso
              del producto o servicio superiores a las que el cliente espera
              recibir a un precio accesible.
            </p>
            <p class="justify-text">
              También la calidad se refiere a minimizar las pérdidas que un
              producto pueda causar a la sociedad humana mostrando cierto
              interés por parte de la empresa a mantener la satisfacción del
              cliente.
            </p>
            <p class="justify-text">
              Una visión actual del concepto de calidad indica que calidad es
              entregar al cliente no lo que quiere, sino lo que nunca había
              imaginado que quería y que una vez que lo obtenga, se dé cuenta de
              que era lo que siempre había querido.
            </p>
          </div>
          <div class="box">
            <h2>Síguenos</h2>
            <div class="social-media">
              <a
                href="https://www.facebook.com/controlymedicion/"
                class="fa fa-facebook"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://www.instagram.com/controlymedicion/"
                class="fa fa-instagram"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://www.youtube.com/channel/UCEkwrnRur8nrffahkA0Kn1Q"
                class="fa fa-youtube"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://twitter.com/CYM_Mexico?prefetchTimestamp=1572883916527"
                class="fa fa-twitter"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://es.linkedin.com/company/controlymedición"
                class="fa fa-linkedin"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://www.youtube.com/channel/UCE14rKML4jf-Si8ts1KqgFw"
                class="fa fa-youtube"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
            </div>
          </div>
        </div>
        <div class="group-2">
          <small
            >&copy; 2022 <b>CONTROL Y MEDICIÓN</b> - Todos los Derechos
            Reservados.</small
          >
        </div>
      </footer>
    </section>
  </body>
</html>