<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Control y Medición</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/eb496ab1a0.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./style.css" />

    <!--script src="//code.tidio.co/v3jcvvfman8clmvsk7mds57hidqdnino.js" async></script-->
  </head>

  <!-- :::::Todo lo que si se ve en mi página web::::: -->
  <body>
    <!-- :::::El encabezado::::: -->
    <header>
      <!-- :::::La línea de búsqueda::::: -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="images/Logos/cym_horiz.png"
              alt=""
              width=""
              height="70"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="historia.html">Historia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="laboratorio.html"
                  >Laboratorio de Calibración</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="servicios.html"
                  >Nuestros Servicios</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown link
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- :::::El texto en la imagen::::: -->
      <div
        class="cover d-flex justify-content-end align-items-start flex-column p-5"
      >
        <h1>Control y Medición</h1>

        <p>El mejor laboratorio de calibración de la ciudad</p>
      </div>
    </header>

    <!-- :::::Tabla de servicios::::: -->
    <section>
      <div class="container mt-5">
        <h3>Nuestros Servicios</h3>
        <p class="d-flex justify-content-center">
          ACREDITACIONES ANTE EMA: LABORATORIO PUEBLA DZA-06; DIM-076;   LABORATORIO QUERÉTARO DZA-06-S1; M-229; T-185; H-77
        </p>
      </div>

      <div class="container mb-5">
        <!-- :::::Dureza::::: -->
        <div class="accordion" id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                DUREZA
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Rockwell (normal/superficial)</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Brinell</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Vickers</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Knoop</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Shore (todas las escalas), IrHD</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Leeb (equotip)</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Barcol, Webster</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>UCI, métodos especiales</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Accesorios</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::Dimensional:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                DIMENSIONAL
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Comparadores ópticos</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Video proyectores</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Micrómetros de interiores</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Micrómetros de profundidades</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Calibradores con vernier</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Calibradores de carátula</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Calibradores electrodigitales</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Medidores de alturas</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Indicadores de carátula</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Indicadores electrodigitales</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Micrómetro láser</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Cabezas micrométricas</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Medidores de espesores</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Rugosímetros</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Bloques patrón longitudinales</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Niveles</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Escuadras de acero</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Goniómetros</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Transportadores de ángulos</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Superficies planas de referencia</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Medidores de espesores de capas</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Medidores de pared</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Medidores de redondez y de contornos</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Máquina de videomedición</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Microscopios metalográficos</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Estereomicroscopios</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Máquinas de medición de coordenadas</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Escalas lineales</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Display digitales (contadores)</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::Metalografía:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                METALOGRAFÍA
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cortadoras</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Montadoras</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Pulidoras</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Microscopios metalográficos</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::Fuerza:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                FUERZA
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Dinamómetros</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Celdas de carga</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Máquinas de ensayos universales</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Probadores de resortes</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Máquinas de tensión</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Máquinas de compresión</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Máquinas de impacto</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td>✔</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::Temperatura:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                TEMPERATURA
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Termómetros de líquido en vidrio</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Termómetros ambientales</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Termopares</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>RTD</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Termómetros de radiación</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Termómetros para alimentos</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Termómetros para vinos</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::HÚMEDAD:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                HÚMEDAD
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Higrómetros</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td>✔</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::IMPACTO:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                IMPACTO
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Péndulos de impacto para pruebas Charpy e IZOD</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::PAR TORCIAL/TORQUE:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                PAR TORCIAL/TORQUE
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              aria-labelledby="headingEight"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Analizadores de torque</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Torquímetros para tapas</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::TIEMPO Y FRECUENCIA:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
              >
                TIEMPO Y FRECUENCIA
              </button>
            </h2>
            <div
              id="collapseNine"
              class="accordion-collapse collapse"
              aria-labelledby="headingNine"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cronómetros</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Medidores de vibración</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Timers</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td>✔</td>
                    </tr>
                    <tr>
                      <td>Relojes</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Tacómetros</td>
                      <td>✔</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--:::::VARIOS:::::-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTen"
                aria-expanded="false"
                aria-controls="collapseTen"
              >
                VARIOS
              </button>
            </h2>
            <div
              id="collapseTen"
              class="accordion-collapse collapse"
              aria-labelledby="headingTen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h4>Magnitud</h4></th>
                      <th scope="col"><h4>Venta</h4></th>
                      <th scope="col"><h4>Calibración</h4></th>
                      <th scope="col"><h4>Reparación</h4></th>
                      <th scope="col"><h4>Mantenimiento</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Analizadores de agua</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Detectotres de gas</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Medidores de salinidad</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Prismáticos</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Lámparas de LED</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Detectores de fallas por ultrasonido</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Cámaras digitales</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Medidor de espesores de grietas</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Localizador de varillas en concreto</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Telescopios de inspección</td>
                      <td>✔</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- :::::Pie de página::::: -->
    <section>
      <footer class="foot">
        <div class="group-1">
          <div class="box">
            <figure>
              <a href="/">
                <img
                  src="images/Logos/cym_horiz.png"
                  alt="Logo de control y medición"
                />
              </a>
            </figure>
          </div>
          <div class="box">
            <h2>Sobre Nosotros</h2>
            <p class="justify-text">
              Desde ese punto de vista para GRUPO CONTROL Y MEDICIÓN significa
              aportar valor al cliente, esto es, ofrecer unas condiciones de uso
              del producto o servicio superiores a las que el cliente espera
              recibir a un precio accesible.
            </p>
            <p class="justify-text">
              También la calidad se refiere a minimizar las pérdidas que un
              producto pueda causar a la sociedad humana mostrando cierto
              interés por parte de la empresa a mantener la satisfacción del
              cliente.
            </p>
            <p class="justify-text">
              Una visión actual del concepto de calidad indica que calidad es
              entregar al cliente no lo que quiere, sino lo que nunca había
              imaginado que quería y que una vez que lo obtenga, se dé cuenta de
              que era lo que siempre había querido.
            </p>
          </div>
          <div class="box">
            <h2>Síguenos</h2>
            <div class="social-media">
              <a
                href="https://www.facebook.com/controlymedicion/"
                class="fa fa-facebook"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://www.instagram.com/controlymedicion/"
                class="fa fa-instagram"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://www.youtube.com/channel/UCEkwrnRur8nrffahkA0Kn1Q"
                class="fa fa-youtube"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://twitter.com/CYM_Mexico?prefetchTimestamp=1572883916527"
                class="fa fa-twitter"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://es.linkedin.com/company/controlymedición"
                class="fa fa-linkedin"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <a
                href="https://www.youtube.com/channel/UCE14rKML4jf-Si8ts1KqgFw"
                class="fa fa-youtube"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
            </div>
          </div>
        </div>
        <div class="group-2">
          <small
            >&copy; 2022 <b>CONTROL Y MEDICIÓN</b> - Todos los Derechos
            Reservados.</small
          >
        </div>
      </footer>
    </section>
  </body>
</html>