<%- include('includes/head.ejs') %>
<!-- :::::El encabezado::::: -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/logos/CYM.png" alt="" width="" height="70" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/historia">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/laboratorio">Laboratorio de Calibración</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/servicios">Nuestros Servicios</a>
          </li class="nav-item">
            <a class="nav-link" href="/lista">Ver productos</a>
          </li>
          </li class="nav-item">
            <a class="nav-link" href="/apis">Ver Apis</a>
          </li>
        </ul>
        <% if(isLoggedIn) { %>
        <span class="navbar-item ms-auto">Hola <%= nombre %> | </span>
        <a href="/logout" class="btn btn-danger btn-sm"> Log out </a>
        <% } %>
      </div>
    </div>
  </nav>
  <div class="cover d-flex justify-content-center align-items-center flex-column">
    <h1>Control y Medición</h1>

    <p>El mejor laboratorio de calibración de la ciudad</p>
    <a class="btn btn-primary" href="/historia" role="button">Conoce más</a>
  </div>
</header>
<!-- :::::El texto de la historia::::: -->
<section>
  <div class="container mt-5 mb-5">
    <h3>Nuestra historia</h3>
    <div class="alert alert-secondary" role="alert">
      1973: El Ing. Isidro Fuentes Domínguez, decidió independizarse tras muchos
      años de experiencia en el área laboral metal-mecánica y principalmente en
      instrumentos de medición.
    </div>
    <div class="alert alert-secondary" role="alert">
      1982: El Ing. Fuentes realiza su primer viaje a Estados Unidos de
      Norteamérica a la fábrica de Wilson, línea de máquinas probadoras de
      dureza (durómetros) que fue líder en ventas y calidad en el mundo por
      muchos años, recibiendo un reconocimiento verbal por el gerente de ventas
      para América Latina, debido a que hasta aquel país, se sabía ya del Ing.
      Isidro Fuentes y su empresa Control y Medición. Así, durante muchos años
      consolidó a Control y Medición como líder en el mercado de servicio a
      máquinas de dureza.
    </div>
    <div class="alert alert-secondary" role="alert">
      1992: Se realiza la apertura de la primera sucursal (2a Unidad Operativa)
      en la Ciudad de Qro. Durante muchos años, Control y Medición, fue la
      empresa número uno en el área de reparación y mantenimiento a durómetros.
      Pero con el paso del tiempo, las exigencias de la industria fueron
      cambiando y empezaron a solicitar la calibración de dichos equipos, por lo
      que en el año de 1993 y con el ingreso del hijo menor del Ing. Fuentes, se
      elabora el primer Manual de Aseguramiento de la calidad de Control y
      Medición, solicitando al Sistema Nacional de Calibración de la DGN de la
      SECOFI el acreditamiento como laboratorio autorizado para la calibración
      en la magnitud de dureza, obteniendo dicho acreditamiento en la primera
      evaluación. Al año siguiente, con la creación del Centro Nacional de
      Metrología (CENAM) y fungiendo este como laboratorio primario de nuestro
      país, se solicita a dicha institución su certificación de capacidad
      técnica para nuestra empresa, obteniéndola también en la primera
      evaluación. CONTROL Y MEDICIÓN LABORATORIOS METROLÓGICOS. S.A DE C.V.
      SISTEMA DE GESTIÓN DE CALIDAD.
    </div>
    <div class="alert alert-secondary" role="alert">
      1995: Se abre la segunda sucursal (3a unidad operativa) en la ciudad de
      Puebla, con el Ing. Javier Ponce Arredondo como gerente de dicha oficina.
      Y con motivo de dicho triunfo se decide formar un grupo el cual es
      denominado GRUPO CONTROL Y MEDICIÓN. Consiguiendo en Septiembre del mismo
      año la distribución directa para la venta en México de una línea de
      máquinas probadoras de dureza de fábrica italiana, la marca AFFRI, pero no
      es sino hasta Diciembre de 1996 cuando se consigue vender la primera
      máquina de dicha línea a la empresa Bujías Champion de México (hoy federal
      Mogul), siendo ésta un modelo de reciente creación y un equipo de grandes
      dimensiones físicas y de tecnología vanguardista.
    </div>
    <div class="alert alert-secondary" role="alert">
      1995: Se abre la segunda sucursal (3a unidad operativa) en la ciudad de
      Puebla, con el Ing. Javier Ponce Arredondo como gerente de dicha oficina.
      Y con motivo de dicho triunfo se decide formar un grupo el cual es
      denominado GRUPO CONTROL Y MEDICIÓN. Consiguiendo en Septiembre del mismo
      año la distribución directa para la venta en México de una línea de
      máquinas probadoras de dureza de fábrica italiana, la marca AFFRI, pero no
      es sino hasta Diciembre de 1996 cuando se consigue vender la primera
      máquina de dicha línea a la empresa Bujías Champion de México (hoy federal
      Mogul), siendo ésta un modelo de reciente creación y un equipo de grandes
      dimensiones físicas y de tecnología vanguardista.
    </div>
    <div class="alert alert-secondary" role="alert">
      2003: Se logra el acreditamiento ante la Entidad Mexicana de Acreditación
      A.C (EMA) en la magnitud Dimensional para calibrar comparadores ópticos,
      calibradores, micrómetros, reglas, goniómetros, indicadores de carátula,
      escuadras y microscopios; en la magnitud de presión, para calibrar
      manómetros de presión como elemento elástico. El sistema de gestión de la
      calidad de nuestro Laboratorio de Calibración está basado en la Norma
      NMX-EC-17025-2006 (ISO/IEC 17025:2005) evaluación de la
      conformidad-requisitos generales para la competencia de laboratorios de
      ensayo y de calibración, que se ha implementado, desarrollado y mantenido
      con el esfuerzo y entusiasmo de todo el personal en todos los niveles
      jerárquicos.
    </div>
    <div class="alert alert-secondary" role="alert">
      2009: GRUPO CONTROL Y MEDICIÓN cuenta con 4 unidades operativas, una
      fuerza operativa de casi 20 integrantes y principalmente el respaldo y la
      experiencia de 37 años en una de las áreas más difíciles pero de más
      satisfacciones: LA CALIDAD.
    </div>
  </div>
</section>
<!-- :::::Imagen de hasta abajo::::: -->
<section>
  <div class="container mt-5 mb-5">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/conoce_a_nuestro_equipo.jpeg?v=1652244726565"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  <button class="btn-scrolltop" id="btn_scrolltop">
    <i class="fas fa-chevron-up"></i>
  </button>
  <script>
    const btn_scrolltop = document.getElementById("btn_scrolltop");
    btn_scrolltop.addEventListener("click", () => {
      window.scrollTo(0, 0);
    });

    window.onscroll = () => {
      if (window.scrollY < 300) {
        btn_scrolltop.classList.remove("btn-scrolltop-on");
      } else {
        btn_scrolltop.classList.add("btn-scrolltop-on");
      }
    };
  </script>
</section>
<%- include('includes/foot.ejs') %>
