<%- include('includes/head.ejs') %>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/logos/CYM.png" alt="" width="" height="70" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/historia">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/laboratorio">Laboratorio de Calibración</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/servicios">Nuestros Servicios</a>
          </li class="nav-item">
            <a class="nav-link" href="/lista">Ver productos</a>
          </li>
          </li class="nav-item">
            <a class="nav-link" href="/apis">Ver Apis</a>
          </li>
        </ul>
        <% if(isLoggedIn) { %>
        <span class="navbar-item ms-auto">Hola <%= nombre %> | </span>
        <a href="/logout" class="btn btn-danger btn-sm"> Log out </a>
        <% } %>
      </div>
    </div>
  </nav>
  <div class="cover d-flex justify-content-center align-items-center flex-column">
    <h1>Control y Medición</h1>

    <p>El mejor laboratorio de calibración de la ciudad</p>
    <a class="btn btn-primary" href="/historia" role="button">Conoce más</a>
  </div>
</header>

<section>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div title="Hombre y mujer trabajando con un durómetro" class="cover cover-small" style="
              background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/IMG_1240.JPG?v=1651872272449);
            "></div>
          <div class="card-body">
            <h5 class="card-title">EXAMPLE</h5>
            <p class="card-text">EXAMPLE</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div class="cover cover-small" style="
              background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/IMG_1240.JPG?v=1651872272449);
            "></div>
          <div class="card-body">
            <h5 class="card-title">EXAMPLE</h5>
            <p class="card-text">EXAMPLE</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div class="cover cover-small" style="
              background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/IMG_1240.JPG?v=1651872272449);
            "></div>
          <div class="card-body">
            <h5 class="card-title">EXAMPLE</h5>
            <p class="card-text">EXAMPLE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <h3>¿Por qué Grupo Control y Medición?</h3>
    <p class="justify-text">
      La calidad puede definirse como la conformidad relativa con las
      especificaciones, a lo que al grado en que un producto cumple las
      especificaciones del diseño, entre otras cosas, mayor su calidad o también
      como comúnmente es encontrar la satisfacción en un producto cumpliendo
      todas las expectativas que busca algún cliente, siendo así controlado por
      reglas las cuales deben salir al mercado para ser inspeccionado y tenga
      los requerimientos estipulados por las organizaciones que hacen certificar
      algún producto.
    </p>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-5">
        <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/SelfieDoodle.svg?v=1651961131261" alt="Una persona ilustrada saludando a su teléfono" />
      </div>

      <div class="col-12 col-sm-6">
        <h3>
          <p>¡Haz tu pedido!</p>
        </h3>
        <p class="justify-text">
          Gracias por el interés en nuestros productos. Para poder elaborar su
          Cotización o Pedido, requerimos que nos detalle la siguiente
          información y continúe con el proceso.
        </p>
        <a href="danfupo@outlook.com">Cotización</a>
      </div>
    </div>
    <form action="">
      <label for="email">Correo electrónico</label>
      <div class="d-flex">
        <div class="flex-fill">
          <input type="email" id="email" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary ms-2">Enviar</button>
      </div>
    </form>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5" id="video-1">
    <h3>¡Conócenos!</h3>
    <div class="responsive-iframe">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TxEQkG23LbU?" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <h3 class="d-flex justify-content-center">
      <u>CONOCE NUESTRAS MARCAS PREMIUM</u>
    </h3>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/KB.jpg?v=1652453785185" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/MICROTECH.jpg?v=1652453785911" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/BAREISS.jpg?v=1652453784686" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/IDECO.jpg?v=1652453785002" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/ERNST.jpg?v=1652453784749" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/REMET.jpg?v=1652453786325" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/METAL_POWER.jpg?v=1652453785604" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/ELEKTRO_PHYSIK.jpg?v=1652453784809" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/BAQ.jpg?v=1652453784541" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/MICROTECNICA.jpg?v=1652453786059" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/LASER_DESIGN.jpg?v=1652453785370" class="d-block w-100" alt="..." />
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <small class="d-flex justify-content-center">DUREZA / DIMENSIONAL / METALOGRAFÍA / FUERZA / IMPACTO / TEMPERATURA /
      HUMEDAD / TORQUE</small>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5">
    <p class="center-text">
      <u>GRUPO CONTROL Y MEDICIÓN</u> pone a su disposición y servicio nuestro
      laboratorio de Control y Medición enfocado a satisfacer sus necesidades en
      las áreas de metrología y de aseguramiento de calidad.
    </p>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5" id="video-2">
    <h3>¡Visita nuestro showroom!</h3>
    <div class="responsive-iframe">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_8IeEE3C8Hw?" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5 mb-5" id="mapa">
    <h4>Aquí nos vemos:</h4>
    <p>
      Blvd. Bernardo Quintana No. 2481, Centro, 76116 Santiago de Querétaro,
      Qro.
    </p>
    <div class="responsive-iframe">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59744.5304235687!2d-100.53317624179684!3d20.627505499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d3506f22a40001%3A0x261fdf7f6fcaee37!2sControl%20Y%20Medici%C3%B3n%20Del%20Centro%2C%20S.%20De%20R.l.%20De%20C.v.%20(Cym)!5e0!3m2!1sen!2smx!4v1652023185394!5m2!1sen!2smx" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <button class="btn-scrolltop" id="btn_scrolltop">
    <i class="fas fa-chevron-up"></i>
  </button>
  <script>
    const btn_scrolltop = document.getElementById("btn_scrolltop");
    btn_scrolltop.addEventListener("click", () => {
      window.scrollTo(0, 0);
    });

    window.onscroll = () => {
      if (window.scrollY < 300) {
        btn_scrolltop.classList.remove("btn-scrolltop-on");
      } else {
        btn_scrolltop.classList.add("btn-scrolltop-on");
      }
    };
  </script>
</section>

<section>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div title="Hombre y mujer trabajando con un durómetro" class="cover cover-small" style="
              background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/ahk.png?v=1652671806404);
            "></div>
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">
              Socio Activo
            </h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div class="cover cover-small" style="
              background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/atms.png?v=1652671832830);
            "></div>
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">
              Socio Fundador
            </h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div class="cover cover-small" style="
              background-image: url(https://cdn.glitch.global/d96074ef-9e8a-42d0-913a-07c8a0d6a723/canacintra.png?v=1652671863031);
            "></div>
          <div class="card-body d-flex justify-content-center">
            <h5 class="card-title">Socio Activo</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/foot.ejs') %>