<%- include('includes/head.ejs') %>
<header>
  <!-- :::::La línea de búsqueda::::: -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/logos/CYM.png" alt="" width="" height="70" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/historia">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/laboratorio"
              >Laboratorio de Calibración</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/servicios">Nuestros Servicios</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="/lista">Añadir producto</a>
              </li>
            </ul>
          </li>
        </ul>
        <% if(isLoggedIn) { %>
        <span class="navbar-item ms-auto">Hola <%= nombre %> | </span>
        <a href="/logout" class="btn btn-danger btn-sm"> Log out </a>
        <% } %>
      </div>
    </div>
  </nav>
  <!-- :::::El texto en la imagen::::: -->
  <div
    class="cover d-flex justify-content-end align-items-start flex-column p-5"
  >
    <h1>Control y Medición</h1>

    <p>El mejor laboratorio de calibración de la ciudad</p>
  </div>
</header>

<!-- :::::Primer párrafo::::: -->
<section>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <h3>Laboratorio de calibración</h3>
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=970x10000:format=jpg/path/s09cbab276dc8a8fd/image/if2ee0256d1ef5ba0/version/1667856534/image.jpg"
        class="img-fluid"
        alt="..."
      />
      <h4 class="mt-4">Nuestro compromiso</h4>
      <p class="justify-text">
        Hemos estado trabajando con usted a lo largo de 50 años para ofrecerle
        el mejor y más confiable servicio de reparación, mantenimiento y
        calibración a sus equipos en las siguientes áreas con acreditación ante
        la Entidad Mexicana de Acreditación, A.C. "EMA"
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">DUREZA</li>
        <li class="list-group-item">DIMENSIONAL</li>
        <li class="list-group-item">MASA</li>
        <li class="list-group-item">FUERZA</li>
        <li class="list-group-item">TEMPERATURA</li>
        <li class="list-group-item">HÚMEDAD</li>
      </ul>
      <br class="d-flex justify-content-center" />
      LABORATORIO PUEBLA DZA-06; DIM-76; LABORATORIO QUERÉTARO DZA-06-S1; M-229;
      F-85; T-185; H-77; DIM-76-S1
      <h5 class="mt-4">Proximamente</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">TORQUE</li>
        <li class="list-group-item">PRESIÓN</li>
      </ul>
    </div>
  </div>
</section>

<!-- :::::Segundo párrafo::::: -->
<section>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <h3>Estás en las mejores manos</h3>
      <p class="justify-text">
        Ponemos a su disposición nuestro laboratorio de calibración ubicado en
        la ciudad de <u>Puebla</u> y nuestra oficina comercial ubicada en
        <u>Ciudad de México</u>. Además de nuestro showroom, laboratorio de
        calibración y pruebas ubicado en la ciudad de <u>Querétaro</u>; todos
        destinados a darle una respuesta inmediata y eficaz a sus
        requerimientos.
      </p>
      <p class="justify-text">
        Con todo esto nos enfocamos para apoyarlo en lograr la calidad que
        requiera su empresa, así como lo demanda México para competir en los
        mercados internacionales. Preséntenos cualquier reto en las áreas de
        metrología y aseguramiento de la calidad y recibirá una respuesta
        concreta a sus necesidades, con equipos nuevos y específicamente
        seleccionados, con el fin de alcanzar beneficios de manera rápida y
        solucionar sus requerimientos. Cualquier duda o solicitud que tenga ¡NO
        LO DUDE!
        <a href="contacto.html"> PÓNGASE EN CONTACTO CON NOSOTROS </a>y
        compruebe nuestros servicios.
      </p>
    </div>
  </div>
</section>

<!-- :::::Imagen Final::::: -->
<section>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=970x10000:format=jpg/path/s09cbab276dc8a8fd/image/ia6b730e2262cd32d/version/1581447286/image.jpg"
        class="img-fluid"
        alt="Showroom en la ciudad de Querétaro"
      />
    </div>
  </div>
</section>

<button class="btn-scrolltop" id="btn_scrolltop">
  <i class="fas fa-chevron-up"></i>
</button>
<script>
  const btn_scrolltop = document.getElementById("btn_scrolltop");
  btn_scrolltop.addEventListener("click", () => {
    window.scrollTo(0, 0);
  });

  window.onscroll = () => {
    if (window.scrollY < 300) {
      btn_scrolltop.classList.remove("btn-scrolltop-on");
    } else {
      btn_scrolltop.classList.add("btn-scrolltop-on");
    }
  };
</script>
<%- include('includes/foot.ejs') %>
